<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <%= raw post.body %>
<%- end -%>
<%= will_paginate @posts %>
<%= link_to 'New Post', new_post_path if current_user  && current_user.has_role?(:admin) %>
